p{
    background-color: silver;
    color: black;
    border-radius: 5px;
    padding: 8px;
}

footer{
    border-radius: 10px;
    border: 2px solid darkblue;
    padding: 10px;

    background-color: #ccc;
    padding: 20px;
}



.social-media {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.social-media li {
    margin: 0 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
}


  